html, body{
  height: 100%;
}

#bulle{
  display: flex;
  flex-direction: column;
  position:absolute;
  margin: -50px auto 0;
  background-color: rgba(107, 107, 107, 0.5);
  text-shadow: 5px 5px 5px black;
  color: white;
  font-family: 'Rochester',cursive;
  border-radius: 120px;
  font-size: 20px;
  transition-duration: 1s;
  opacity: 1;
  transform: scale(1);
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

#titre{
  font-size: 50px;
  padding-top: 1.9em;
  margin-bottom: 2.8em;
  text-align: center;
  font-family: 'Rochester', cursive;
  color: white;
  text-shadow: 5px 5px 5px black;
}

#container{
  min-height: 100%;
  position: relative;
}

#box1{
  max-width: 100%;
}

#portrait{
  height: 500px;
}

#portrait img{
  border-radius: 20px;
  transition-duration: 1s;
}

#portrait img:hover{
  border-radius: 0px;
}

#biographie{
  position: ;
  height: 470px;
  text-align: center;
  opacity: 0;
  transition-duration: 1s;
  transform: scale(0);
  padding: 0px;
}

#biographie p{
  padding: 0px;
}

/* Texte à côté de l'image du moine */

.card{
    background-color: rgba(107, 107, 107, 0.5);
    text-shadow: 5px 5px 5px black;
    color: white;
    font-family: 'MedievalSharp', cursive;
    padding: 0px;
}

h2{
    font-family: 'Rochester', cursive;
    margin-bottom: 35px;
}

/*Bulle de dialogue*/
