html, body{
  height: 100%;
}

#myVideo {
position: fixed;
right: 0;
bottom: 0;
min-width: 100%;
min-height: 100%;
z-index: -1;
}


#titre{
  font-size: 50px;
  padding-top: 1.9em;
  margin-bottom: 2.8em;
  text-align: center;
  font-family: 'Rochester', cursive;
}

#container{
  min-height: 100%;
  position: relative;
}

#box1{
  display: flex;
  justify-content: space-around;
}

#portrait{
  display: flex;
  /* border: 2px solid blue; */
  width: 340px;
  height: 500px;
  margin: 15px;
  margin-left: 20px;
}

#portrait img{
  border-radius: 20px;
  transition-duration: 1s;
}

#portrait img:hover{
  border-radius: 0px;
  box-shadow: ;
}

#biographie{
  position: ;
  /* border: 2px solid gold; */
  width: 600px;
  height: 470px;
  margin: 20px;
  text-align: center;
  opacity: 0;
  transition-duration: 1s;
  transform: scale(0);
}

/* Texte à côté de l'image du moine */

.card{
    /* background-color: rgba(0, 0, 255, 0); */
    background-color: rgba(107, 107, 107, 0.5);
    text-shadow: 5px 5px 5px black;
    color: white;
}

h2{
    font-family: 'Rochester', cursive;
    margin-bottom: 35px;
}


/* #textcontainer {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    align-self: center;
    box-sizing: border-box;
} */

/* #textcontainer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: ;
  overflow:hidden ;
  width: 0;
  height: 100%;
  transition: .5s ease;
  z-index:1;
}

#biographie:hover #textcontainer {
  width: 100%;
} */


/*A partir d'ici seulement pour le footer*/
