html, body{
  height: 100%;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

#titre{
  font-size: 50px;
  padding-top: 1.9em;
  margin-bottom: 2.8em;
  text-align: center;
  font-family: 'Rochester', cursive;
  color: white;
  text-shadow: 5px 5px 5px black;
}

#container{
  min-height: 100%;
  position: relative;
}

#box1{
  display: flex;
  justify-content: space-around;
  /* margin-bottom:25px; */
}

#portrait{
  display: flex;
  /* border: 2px solid blue; */
  width: 340px;
  height: 500px;
  margin: 15px;
  margin-left: 20px;
}

#portrait img{
  border-radius: 20px;
  transition-duration: 1s;
}

#portrait img:hover{
  border-radius: 0px;
  box-shadow: ;
}

#biographie{
  position: ;
  /* border: 2px solid gold; */
  width: 600px;
  height: 470px;
  margin: 20px;
  text-align: center;
  opacity: 0;
  transition-duration: 1s;
  transform: scale(0);
}

/* Texte à côté de l'image du moine */

.card{
    /* background-color: rgba(0, 0, 255, 0); */
    background-color: rgba(107, 107, 107, 0.5);
    text-shadow: 5px 5px 5px black;
    color: white;
    font-family: 'MedievalSharp', cursive;
}

h2{
    font-family: 'Rochester', cursive;
    margin-bottom: 35px;
}


/*A partir d'ici seulement pour le footer*/
