@font-face {
  font-family: 'Rochester';
  src: url('../font/Rochester/Rochester-Regular.ttf');
}

@font-face {
  font-family: 'Lora';
  src: url('../font/Lora/static/Lora-Medium.ttf');
}

body{
  background-image: url(../images/wood.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* DETAIL */

.vertical{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}

.title{
  display: flex;
  justify-content: center;
  font-size: 12vh;
  font-family: 'Rochester';
}

.space{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5vh;
  font-weight: 500;
  font-family: 'Lora';
}


.center {

    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 767px){
  .vertical{
    height: auto;
  }

  .space{
    flex-direction: column;
    margin-top: 2vh;
  }
  img{
    width: 80%;
  }
}


/* INDEX */
.blurred-box{
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .3);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .1);
  backdrop-filter: blur(5px)
}

.blurred-box-card{
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .3);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(5px);
    max-width : 70%;
}

.middle{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.jumbotron{
  width: 50%;
}
