#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
.deux{
  background-color: rgba(0,0,0,0.4);
  font-size: 40px;
  color: white;
}
.card{
  background-color: transparent;
  border: none;
  text-decoration: none;
  color : black;
}
.card-title{
  font-weight: bolder;
  font-size: 30px;
}
body{
  background-color: grey;
}
.sectioncard{
}
.filterDiv {
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}
